<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.davidbrady.git-log-branch</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>source /Users/davidbrady/.bash_profile && ruby /Users/davidbrady/bin/git-log-branch -p /Users/davidbrady/acima/devel/merchant_portal</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/git-log-branch.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/git-log-branch.err</string>
</dict>
</plist>
